node_modules

.env
.env.local
.env.*.local

dist
build
coverage

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

backend/prisma/dev.db
backend/prisma/dev.db-journal
backend/prisma/test.db
backend/prisma/test.db-journal

.DS_Store
.vscode
.idea